altgraph==0.17.5
colorama==0.4.6
customtkinter==6.0.0
darkdetect==0.8.0
duckdb==1.5.5
iniconfig==2.3.0
packaging==26.2
pefile==2024.8.26
pluggy==1.6.0
Pygments==2.20.0
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pytest==9.1.1
pywin32-ctypes==0.2.3
setuptools==83.0.0
tinydb==4.8.2
